@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(images/sign-in/login-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.logo img{
    width: 8rem;
    margin: 20px;
}
.input-group {
    margin: 20px auto;
    background-color: rgba(0,0,0,0.4);
    padding: 30px 60px 70px;
    max-width: 370px;
}
form h2{
    color: white;
    margin-bottom: 20px;
}
input[type=text], input[type=password]{
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #333333;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #8C8C8C;
}
input[type=submit] {
    display: block;
    width: 250px;
    margin: 30px auto 10px;
    padding: 10px;
    background-color: #E50914;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    color: white;
}
.other-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 0.8rem;
    margin-bottom: 40px;
}

.checkbox{
    display: flex;
    align-items: center;
}

.other-input a {
    text-decoration: none;
    color: white;
}

.facebook{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.facebook img{
    width: 1rem;
    object-fit: cover;
}
.facebook p{
    font-size: 0.8rem;
    color: #737373;
    letter-spacing: 0.009rem;
}
.create-acct{
    color: #737373;
    font-size: 0.8rem;
    letter-spacing: 0.009rem;
    margin: 15px 0;
}
.sign-up {
    font-weight: 800;
    color: white;
}
.recaptcha {
    color: #8C8C8C;
    font-size: 0.8rem;
}
#learn-more {
    color: #0071EB;
    cursor: pointer;
}

/* -----------------------------------------------------------FOOTER----------------------------------- */
#footer{
    background-color: rgba(0,0,0,0.8);
    margin-top: 150px;
    padding: 30px 170px;
    color: #757575;
    font-size: 0.9rem;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}
#questions{
    margin-bottom: 2rem;
}
#language{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    gap: 5px;
    color: white;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    height: 30px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 2rem;
}

/* ------------------------------------------MEDIA QUERY FOR SMALL DEVICES--------------------------------- */
@media screen and (max-width: 600px){
    .logo img{
        width: 6rem;
    }
    .input-group {
        margin: 20px auto;
        background-color: rgba(0,0,0,0.4);
        padding: 30px 20px 70px;
        max-width: 300px;
    }
    input[type=text], input[type=password]{
        width: 220px;
    }
    input[type=submit] {
        display: block;
        width: 220px;
        margin: 30px auto 10px;
        padding: 10px;
        background-color: #E50914;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        color: white;
        text-align: center;
    }

    /* -----------------------------------------------------------FOOTER----------------------------------- */
    #footer{
        background-color: rgba(0,0,0,0.8);
        margin-top: 150px;
        padding: 30px 30px;
        color: #757575;
        font-size: 0.9rem;
    }
    .footer-links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1.5rem;
    }
    #questions{
        margin-bottom: 2rem;
    }
    #language{
        display: flex;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        gap: 5px;
        color: white;
        border: 1px solid #AAAAAA;
        border-radius: 2px;
        height: 30px;
        cursor: pointer;
        padding: 5px 10px;
        margin-top: 2rem;
    }
}